<ul class="menu geography-selector">
  {{#each toggles as |toggle|}}
    <li class="{{if (eq geographyLevel toggle.type) 'active'}} explode-block toggle-list-item">
      <a {{action handleGeographyLevelToggle toggle.type}}>
        {{capitalize toggle.type}}
      </a>
    </li>
  {{/each}}
</ul>
{{yield}}
