<ul class="menu geography-selector">
  {{#each layerGroups as |layerGroup|}}
    <li class="{{if (eq geographyLevel layerGroup.id) 'active'}} explode-block toggle-list-item">
      <a {{action handleGeographyLevelToggle layerGroup.id}}>
        {{capitalize layerGroup.id}}
      </a>
    </li>
  {{/each}}
</ul>
{{yield}}
