{{#unless (eq layerTitle '')}}
  <div class="legend">
    {{#if narrativeVisible}}<h5 class="legend-title">{{layerTitle}}</h5>{{/if}}
    {{#each rows as |row|}}
      <div class="legend-item">
        <span class="legend-color" style="color:{{row.color}};">{{fa-icon icon}}</span>
        {{row.label}}
      </div>
    {{/each}}
  </div>
{{/unless}}
