{{map-from-id id=model.map}}

<button class="narrative-toggle"><span>&times;</span></button>

<div class="cell large-5 xlarge-4 narrative-container">
  <h1 class="header-xlarge">{{model.title}}</h1>
  {{outlet}}
</div>
